html, body {
  text-align: center;
  margin:0;
  padding:0;
  background: #000000;
  color: #666666;
  line-height: 1.25em;
}
#outer {
  position: absolute;
/*   top: 50%;
  left: 50%; */
  width: 1px;
  height: 1px;
  overflow: visible;
}
#canvasContainer {
  position: absolute;
/*   width: 1000px;
  height: 560px;
  top: -280px;
  left: -500px; */
}
canvas {
  //border: 1px solid #333333;
}
a {
  color: #00CBCB;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #FFFFFF;
}
#output {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  margin-top: 4px;
}
/*#more-experiments{
color: #666666;
  font-weight: normal;
}*/

@media screen and (max-width: 650px){

  #canvasContainer {
	  width: 310px;
	  height: 200px;
	  left: -155px;
	  top: -150px;
  }
  canvas {
	  width:100%; height:100%;
	  border: 1px solid #333333;
  }
  #output {
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 1em;
	  line-height: 1.75em;
  }

}